{% extends 'base.html'%}
{% load static%}

{% block title %}基线检查记录{% endblock %}
{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}
{% block content %}
   <!-- Main content -->
   <section class="content">
     <div class="box">


       <div class="box-header with-border">

          <h3 class="box-title">基础信息</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped dataTable">
            <tr>
              <td>扫描时间:{{scanRes.scanTime}}</td>
              <td>项目类型:{{scanType}}</td>
            </tr>
            <tr>
              <td>主机名:{{scanRes.hostname}}</td>
              <td>系统版本:{{ scanRes.osVersion }}</td>
            </tr>
            <tr>
              <td>MAC地址:{{scanRes.macaddr}}</td>
              <td>IP地址:{{scanRes.ipList}}</td>
            </tr>
          </table>
        </div>
     </div>
     <div class="row">
       <!-- 密码策略 -->
     <div class="col-md-6">
       <div class="box">

         <div class="box-header with-border">

             <h3 class="box-title">密码策略检查</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                 <i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                 <i class="fa fa-times"></i></button>
             </div>
           </div>
           <div class="box-body">
             <table class="table table-bordered table-striped dataTable">
               <thead>
                 <tr>
                   <th>密码策略</th>
                   <th>检查结果</th>
                 </tr>
               </thead>
               <tr>
                 <td>强制密码历史不少于5次</td>
                 <td>{{scanRes.passwordHistorySize}}</td>
               </tr>
               <tr>
                 <td>密码最长使用期限不多于90天</td>
                 <td>{{scanRes.maximumPasswordAge}}</td>
               </tr>
               <tr>
                 <td>密码最短使用期限不少于1天</td>
                 <td>{{scanRes.minimumPasswordAge}}</td>
               </tr>
               <tr>
                 <td>密码是否符合复杂度要求</td>
                 <td>{{scanRes.passwordComplexity}}</td>
               </tr>
               <tr>
                 <td>不可用可还原的加密来存储密码</td>
                 <td>{{scanRes.clearTextPassword}}</td>
               </tr>
               <tr>
                 <td>密码长度不低于8位</td>
                 <td>{{scanRes.minimumPasswordLength}}</td>
               </tr>
             </table>
           </div>
       </div>
      </div>
      <!-- 账户锁定策略 -->
      <div class="col-md-6">

        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">账户锁定策略检查</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <tr>
                    <th>账户锁定策略</th>
                    <th>检查结果</th>
                  </tr>
                </thead>
                <tr>
                  <td>账户锁定时间不低于15分钟</td>
                  <td>{{scanRes.lockoutDuration}}</td>
                </tr>
                <tr>
                  <td>账户锁定阈值不多于5次</td>
                  <td>{{scanRes.lockoutBadCount}}</td>
                </tr>
                <tr>
                  <td>重置账户锁定计数器</td>
                  <td>{{scanRes.resetLockoutCount}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
     </div>
     <!-- 审计策略 -->
     <div class="row">
      <div class="col-md-6">

        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">审计策略检查</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <tr>
                    <th>审计策略</th>
                    <th>检查结果</th>
                  </tr>
                </thead>
                <tr>
                  <td>审核策略更改：成功</td>
                  <td>{{scanRes.auditPolicyChange}}</td>
                </tr>
                <tr>
                  <td>审核登录时间：成功，失败</td>
                  <td>{{scanRes.auditLogonEvents}}</td>
                </tr>
                <tr>
                  <td>审核对象访问：成功</td>
                  <td>{{scanRes.auditObjectAccess}}</td>
                </tr>
                <tr>
                  <td>审核进程跟踪：成功，失败</td>
                  <td>{{scanRes.auditProcessTracking}}</td>
                </tr>
                <tr>
                  <td>审核目录服务访问：成功，失败</td>
                  <td>{{scanRes.auditDSAccess}}</td>
                </tr>
                <tr>
                  <td>审核系统事件：成功，失败</td>
                  <td>{{scanRes.auditSystemEvents}}</td>
                </tr>
                <tr>
                  <td>审核账户登录事件：成功，失败</td>
                  <td>{{scanRes.auditAccountLogon}}</td>
                </tr>
                <tr>
                  <td>审核账户管理事件：成功，失败</td>
                  <td>{{scanRes.auditAccountManage}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
      <div class="col-md-6">
     <!-- 安全选项 -->
        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">安全选项检查</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <tr>
                    <th>安全选项策略</th>
                    <th>检查结果</th>
                  </tr>
                </thead>
                <tr>
                  <td>确保“作为受信任的呼叫方访问凭据管理器”值为空，没有设置用户</td>
                  <td>{{scanRes.seTrustedCredManAccessPrivilege}}</td>
                </tr>
                <tr>
                  <td>确保“以操作系统方式执行”值为空</td>
                  <td>{{scanRes.seTcbPrivilege}}</td>
                </tr>
                <tr>
                  <td>确保“将工作站添加到域”值仅为特定的用户或用户组，不能有513，514，515</td>
                  <td>{{scanRes.seMachineAccountPrivilege}}</td>
                </tr>
                <tr>
                  <td>确保“创建全局对象”值为空</td>
                  <td>{{scanRes.seCreateGlobalPrivilege}}</td>
                </tr>
                <tr>
                  <td>确保“拒绝作为批处理作业登录”包含Guests</td>
                  <td>{{scanRes.seDenyBatchLogonRight}}</td>
                </tr>
                <tr>
                  <td>确保“拒绝以服务身份登录”包含Guests</td>
                  <td>{{scanRes.seDenyServiceLogonRight}}</td>
                </tr>
                <tr>
                  <td>确保“拒绝本地登录”包含Guests</td>
                  <td>{{scanRes.seDenyInteractiveLogonRight}}</td>
                </tr>
                <tr>
                  <td>确保“从远程系统强制关机”值为“administrator”本地组和s-1-5-32-549</td>
                  <td>{{scanRes.seRemoteShutdownPrivilege}}</td>
                </tr>
                <tr>
                  <td>确保“修改对象标签”值为空</td>
                  <td>{{scanRes.seRelabelPrivilege}}</td>
                </tr>
                <tr>
                  <td>确保“同步目录服务数据”值为空</td>
                  <td>{{scanRes.seSyncAgentPrivilege}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
     </div>
    <!-- 端口安全  -->
     <div class="row">
      <div class="col-md-6">

        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">端口安全检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <th>端口安全策略</th>
                <th>检查结果</th>
              </thead>
              <tr>
                <td>修改RDP默认端口，不可为3389</td>
                <td>{{scanRes.rdpPort}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- 系统安全 -->
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">系统安全检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <th>系统安全策略</th>
                <th>检查结果</th>
              </thead>
              <tr>
                <td>禁止自动播放</td>
                <td>{{scanRes.autoRunRes}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
     </div>
   </section>
{% endblock %}
{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
$(function () {
        $('#assets_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });

</script>
{% endblock %}