{% extends 'base.html'%}
{% load static%}
{% load base64_jc %}

{% block title %}基线检查记录{% endblock %}
{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<style>
.jc-red-badge{
  /* display: inline-block; */
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle !important;
    background-color:red;
    border-radius: 10px;
}
td{
  word-break:break-all;
  /* text-align: center; */
  vertical-align: middle!important;
}
</style>
{% endblock %}
{% block content %}
   <!-- Main content -->
   <section class="content">
     <div class="box">

       <div class="box-header with-border">

          <h3 class="box-title">基础信息</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped dataTable">
            <tr>
              <td>扫描时间:{{scanRes.scanTime}}</td>
              <td>项目类型:{{scanType}}</td>
            </tr>
            <tr>
              <td>主机名:{{scanRes.hostname}}</td>
              <td>系统版本:{{scanRes.osVersion }}</td>
            </tr>
            <tr>
              <td>MAC地址:{{scanRes.macaddr}}</td>
              <td>IP地址:{{scanRes.ipList}}</td>
            </tr>
          </table>
        </div>
     </div>
     <!-- 检查结果 -->
       <div class="box">
         <div class="box-body with-border">
           <h3 class="box-title">检查结果</h3>
         </div>
         <div class="box-body">
          <table class="table table-bordered table-striped dataTable">
            <tr>
              <td>检查项目数：</td>
              <td class="badge bg-green">{{checkNum}}</td>
         
              <td>未通过项：</td>
              <td class="badge bg-red">{{failNum}}</td>
              <td>得分：</td>
              <td class="badge bg-yellow">{{checkScore}}</td>
            </tr>
          </table>
        </div>
       </div>
     <div class="row">
       <!-- 初始安装规范 -->
     <div class="col-md-6">
       <div class="box">

         <div class="box-header with-border">

             <h3 class="box-title">初始安装规范检查</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                 <i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                 <i class="fa fa-times"></i></button>
             </div>
           </div>
           <div class="box-body">
             <table class="table table-bordered table-striped dataTable">
               <thead>
                 <tr>
                   <th>初始安装规范</th>
                   <th>扫描结果</th>
								   <th>检查结果</th>
               </thead>
               <tr>
                 <td>将/tmp挂载至一个单独的分区</td>
                 <td>{{scanRes.tmpIfSeparate}}</td>
									<td>{{ck_tmpIfSeparate}}</td>
               </tr>
               <tr>
                 <td>/tmp挂载时指定“noexec"</td>
                 <td>{{scanRes.tmpIfNoexec}}</td>
									<td>{{ck_tmpIfNoexec}}</td>
               </tr>
               <tr>
                 <td>/tmp挂载时指定“nosuid”</td>
                 <td>{{scanRes.tmpIfNosuid}}</td>
									<td>{{ck_tmpIfNosuid}}</td>
               </tr>
               <tr>
                <td>bootloader配置文件的权限不高于600</td>
                 <td>{{scanRes.grubcfgPermission}}</td>
									<td>{{ck_grubcfgPermission}}</td>
               </tr>
               <tr>
                 <td>为bootloader设置密码</td>
                 <td>{{scanRes.grubcfgIfSetPasswd}}</td>
									<td>{{ck_grubcfgIfSetPasswd}}</td>
               </tr>
               <tr>
                 <td>为单用户模式启动认证机制</td>
                 <td>{{scanRes.singleUserModeIfNeedAuth}}</td>
									<td>{{ck_singleUserModeIfNeedAuth}}</td>
               </tr>
               <tr>
                 <td>设置SELinux的状态为“enforcing”</td>
                 <td>{{scanRes.selinuxStateIfEnforcing}}</td>
									<td>{{ck_selinuxStateIfEnforcing}}</td>
               </tr>
               <tr>
                 <td>设置SELinux的policy为“targeted”</td>
                 <td>{{scanRes.selinuxPolicyIfConfigured}}</td>
									<td>{{ck_selinuxPolicyIfConfigured}}</td>
               </tr>
             </table>
           </div>
       </div>
      </div>
      <!-- 服务配置规范 -->
      <div class="col-md-6">

        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">服务配置规范检查</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <tr>
                    <th>服务配置规范</th>
                    <th>扫描结果</th>
								    <th>检查结果</th>
                </thead>
                <tr>
                  <td>开启时间同步服务</td>
                  <td>{{scanRes.timeSyncServerIfConfigured}}</td>
									<td>{{ck_timeSyncServerIfConfigured}}</td>
                </tr>
                <tr>
                  <td>不安装"x-windows"</td>
                  <td>{{scanRes.x11windowIfNotInstalled}}</td>
									<td>{{ck_x11windowIfNotInstalled}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
     </div>
     
     <div class="row">
       <!-- 网络配置规范 -->
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">网络配置规范检查</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <tr>
                    <th>网络配置规范</th>
                    <th>扫描结果</th>
								    <th>检查结果</th>
                  </tr>
                </thead>
                <tr>
                  <td>配置/etc/hosts.allow文件</td>
                  <td>{{scanRes.hostsAllowFileIfConfigured}}</td>
									<td>{{ck_hostsAllowFileIfConfigured}}</td>
                </tr>
                <tr>
                  <td>配置/etc/hosts.deny文件</td>
                  <td>{{scanRes.hostsDenyFileIfConfigured}}</td>
									<td>{{ck_hostsDenyFileIfConfigured}}</td>
                </tr>
                <tr>
                  <td>hosts.allow文件的权限不高于0644</td>
                  <td>{{scanRes.hostsAllowFilePermission}}</td>
									<td>{{ck_hostsAllowFilePermission}}</td>
                </tr>
                <tr>
                  <td>hosts.deny文件的权限不高于0644</td>
                  <td>{{scanRes.hostsDenyFilePermission}}</td>
									<td>{{ck_hostsDenyFilePermission}}</td>
                </tr>
                <tr>
                  <td>安装并使用iptables</td>
                  <td>{{scanRes.iptablesIfInstalled}}</td>
									<td>{{ck_iptablesIfInstalled}}</td>
                </tr>
                <tr>
                  <td>设置iptales INPUT链的默认策略为DROP</td>
                  <td>{{scanRes.iptablesInputPolicyIfDrop}}</td>
									<td>{{ck_iptablesInputPolicyIfDrop}}</td>
                </tr>
                <tr>
                  <td>设置iptables OUTPUT链的默认策略为DROP</td>
                  <td>{{scanRes.iptablesOutputPolicyIfDrop}}</td>
									<td>{{ck_iptablesOutputPolicyIfDrop}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
      <div class="col-md-6">

     <!-- 审计设置 -->
        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">审计设置规范检查</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
          </div>
            <div class="box-body">

              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <tr>
                    <th>审计设置规范</th>
                    <th>扫描结果</th>
							    	<th>检查结果</th>
                  </tr>
                </thead>
                <tr>
                  <td>安装并使用“auditd"</td>
                  <td>{{scanRes.auditdIfEnabled}}</td>
									<td>{{ck_auditdIfEnabled}}</td>
                </tr>
                <tr>
                  <td>配置记录审计日志的文件大小不小于8M</td>
                  <td>{{scanRes.auditdIfSetMaxLogFile}}</td>
									<td>{{ck_auditdIfSetMaxLogFile}}</td>
                </tr>
                <tr>
                  <td>配置记录审计日志的文件个数不小于5个</td>
                  <td>{{scanRes.auditdIfSetNumLogs}}</td>
									<td>{{ck_auditdIfSetNumLogs}}</td>
                </tr>
                <tr>
                  <td>配置单个审计日志文件大小达到设定的值时触发的动作为“keep_logs"/"rotate"</td>
                  <td>{{scanRes.auditdIfSetMaxLogFileAction}}</td>
									<td>{{ck_auditdIfSetMaxLogFileAction}}</td>
                </tr>
                <tr>
                  <td>配置磁盘空间满后触发的动作不为“ignore”或“suspend”</td>
                  <td>{{scanRes.auditdIfSetSpaceLeftAction}}</td>
									<td>{{ck_auditdIfSetSpaceLeftAction}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
     </div>
   
     <div class="row">
      <!-- 审计规则规范 -->
      <div class="col-md-6">

        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">审计规则规范检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <th>审计规则规范</th>
                <th>扫描结果</th>
								<th>检查结果</th>
              </thead>
              <tbody>
                <tr>
                  <td>审计更改日期和时间的操作</td>
                  <td>{{scanRes.auditdIfCheckTimechange}}</td>
									<td>{{ck_auditdIfCheckTimechange}}</td>
                  <td class="jc-red-badge">通过</td>
                </tr>
                <tr>
                  <td>审计更改用户/组信息的操作</td>
                  <td>{{scanRes.auditdRulesNotCheckedUserandgroupfile}}</td>
									<td>{{ck_auditdRulesNotCheckedUserandgroupfile}}</td>
                </tr>
                <tr>
                  <td>审计更改系统网络环境的操作</td>
                  <td>{{scanRes.auditdRulesNotCheckedNetworkenv}}</td>
									<td>{{ck_auditdRulesNotCheckedNetworkenv}}</td>
                </tr>
                <tr>
                  <td>审计更改系统强制访问控制的操作</td>
                  <td>{{scanRes.auditdRulesNotCheckedMACchange}}</td>
									<td>{{ck_auditdRulesNotCheckedMACchange}}</td>
                </tr>
                <tr>
                  <td>审计登入登出系统的事件</td>
                  <td>{{scanRes.auditdRulesNotCheckedLoginoutEvents}}</td>
									<td>{{ck_auditdRulesNotCheckedLoginoutEvents}}</td>
                </tr>
                <tr>
                  <td>审计企图改变文件权限的操作</td>
                  <td>{{scanRes.auditdRulesNotCheckedDACChangeSyscall}}</td>
									<td>{{ck_auditdRulesNotCheckedDACChangeSyscall}}</td>
                </tr>
                <tr>
                  <td>审计未授权情况下企图访问文件未成功的事件</td>
                  <td>{{scanRes.auditdRulesNotCheckedFileAccessAttemptSyscall}}</td>
									<td>{{ck_auditdRulesNotCheckedFileAccessAttemptSyscall}}</td>
                </tr>
                <tr>
                  <td>审计使用提权命令的操作</td>
                  <td>{{scanRes.auditdRulesNotCheckedPrivilegedCommand}}</td>
									<td>{{ck_auditdRulesNotCheckedPrivilegedCommand}}</td>
                </tr>
                <tr>
                  <td>审计sudoers文件的变更</td>
                  <td>{{scanRes.auditdRulesNotCheckedSudoerFile}}</td>
									<td>{{ck_auditdRulesNotCheckedSudoerFile}}</td>
                </tr>
                <tr>
                  <td>确保审计日志文件audit.log的规则在系统重启前不能改变</td>
                  <td>{{scanRes.auditdRulesIfImmutable}}</td>
									<td>{{ck_auditdRulesIfImmutable}}</td>
                </tr>
              </tbody> 
            </table>
          </div>
        </div>
      </div>
      <!-- 日志设置规范 -->
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">日志,计划任务设置规范检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <th>日志设置规范</th>
                <th>扫描结果</th>
								<th>检查结果</th>
              </thead>
              <tr>
                <td>安装并启用rsyslog</td>
                <td>{{scanRes.rsyslogIfEnabled}}</td>
									<td>{{ck_rsyslogIfEnabled}}</td>
              </tr>
            </table>
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <th>计划设置规范</th>
                <th>扫描结果</th>
								<th>检查结果</th>
              </thead>
              <tr>
                <td>开启cron服务</td>
                <td>{{scanRes.crondIfEnabled}}</td>
									<td>{{ck_crondIfEnabled}}</td>
              </tr>
              <tr>
                <td>配置crontab,cron.hourly,cron.daily,cron.weekly,cron.monthly,cron.d文件的权限不高于0700</td>
                <td>{{scanRes.crondConfigFilePermissionArray}}</td>
									<td>{{ck_crondConfigFilePermissionArray}}</td>
              </tr>
              <tr>
                <td>配置cron.allow,cron.deny文件权限不超过0700</td>
                <td>{{scanRes.crondallowdenyFilePermissionArray}}</td>
									<td>{{ck_crondallowdenyFilePermissionArray}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
     </div>
     <div class="row">

       <!-- ssh配置规范 -->
      <div class="col-md-6">

        <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">SSH配置规范检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <th>SSH配置规范</th>
                <th>扫描结果</th>
								<th>检查结果</th>
              </thead>
              <tbody>
                <tr>
                  <td>配置/etc/ssh/sshd_config文件的权限不高于0600</td>
                  <td>{{scanRes.sshdConfigFilePermission}}</td>
									<td>{{ck_sshdConfigFilePermission}}</td>
                </tr>
                <tr>
                  <td>关闭X11Forwarding</td>
                  <td>{{scanRes.sshdIfDisableX11forwarding}}</td>
									<td>{{ck_sshdIfDisableX11forwarding}}</td>
                </tr>
                <tr>
                  <td>配置最大登录尝试次数不高于4次</td>
                  <td>{{scanRes.sshdIfSetMaxAuthTries}}</td>
									<td>{{ck_sshdIfSetMaxAuthTries}}</td>
                </tr>
                <tr>
                  <td>配置“IgnoreRhosts”值为“Enabled”</td>
                  <td>{{scanRes.sshdIfEnableIgnoreRhosts}}</td>
									<td>{{ck_sshdIfEnableIgnoreRhosts}}</td>
                </tr>
                <tr>
                  <td>配置“HostbasedAuthentication”值为“Disabled”</td>
                  <td>{{scanRes.sshdIfDisableHostbasedAuthentication}}</td>
									<td>{{ck_sshdIfDisableHostbasedAuthentication}}</td>
                </tr>
                <tr>
                  <td>配置”PermitRootLogin”值为“no”</td>
                  <td>{{scanRes.sshdIfDisablePermitRootLogin}}</td>
									<td>{{ck_sshdIfDisablePermitRootLogin}}</td>
                </tr>
                <tr>
                  <td>配置“PermitEmptyPasswords”值为“no”</td>
                  <td>{{scanRes.sshdIfDisablePermitEmptyPasswords}}</td>
									<td>{{ck_sshdIfDisablePermitEmptyPasswords}}</td>
                </tr>
                <tr>
                  <td>配置“PermitUserEnvironment”值为“no”</td>
                  <td>{{scanRes.sshdIfDisablePermitUserEnvironment}}</td>
									<td>{{ck_sshdIfDisablePermitUserEnvironment}}</td>
                </tr>
                <tr>
                  <td>配置要使用的MAC算法</td>
                  <td>{{scanRes.sshdIfSpecificMACs}}</td>
									<td>{{ck_sshdIfSpecificMACs}}</td>
                </tr>
                <tr>
                  <td>设置空闲超时时间不超过180秒</td>
                  <td>{{scanRes.sshdIfSetClientAliveInterval}}</td>
									<td>{{ck_sshdIfSetClientAliveInterval}}</td>
                </tr>
                <tr>
                  <td>设置一次登录验证时间不超过120秒</td>
                  <td>{{scanRes.sshdIfSetLoginGraceTime}}</td>
									<td>{{ck_sshdIfSetLoginGraceTime}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">PAM配置规范检查</h3>
            <div class="box-tools pull-right">

              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <th>PAM配置规范</th>
                <th>扫描结果</th>
                <th>检查结果</th>
              </thead>
              <tbody>
                <tr>
                  <td>配置密码位数不低于8位</td>
                  <td>{{scanRes.pamIfSetMinlen}}</td>
									<td>{{ck_pamIfSetMinlen}}</td>
                </tr>
                <tr>
                  <td>配置密码中至少包含3种字符</td>
                  <td>{{scanRes.pamIfSetMinclass}}</td>
									<td>{{ck_pamIfSetMinclass}}</td>
                </tr>
                <tr>
                  <td>在system-auth,password-auth中配置密码锁定及解锁时间</td>
                  <td>{{scanRes.sshdSetedLockAndUnlockTimeFiles}}</td>
									<td>{{ck_sshdSetedLockAndUnlockTimeFiles}}</td>
                </tr>
                <tr>
                  <td>配置密码重用限制，至少不使用最近5次的密码</td>
                  <td>{{scanRes.sshdPamdFileReuseLimitArray}}</td>
									<td>{{ck_sshdPamdFileReuseLimitArray}}</td>
                </tr>
                <tr>
                  <td>配置密码使用的Hash算法为SHA512</td>
                  <td>{{scanRes.sshdPamdFileIfSetSha512}}</td>
									<td>{{ck_sshdPamdFileIfSetSha512}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      <div class="row">

        <div class="col-md-6">

          <div class="box">
            <div class="box-header with-border">

              <h3 class="box-title">账号和环境配置规范检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <th>账号和环境配置规范</th>
                  <th>扫描结果</th>
                  <th>检查结果</th>
                </thead>
                <tbody>
                  <tr>
                    <td>配置密码有效时间不多于90天</td>
                    <td>{{scanRes.accountPassMaxDays}}</td
                  </tr>
                  <tr>
                    <td>配置密码更改最短间隔不少于1天</td>
                    <td>{{scanRes.accountPassMinDays}}</td>
									<td>{{ck_accountPassMinDays}}</td>
                  </tr>
                  <tr>
                    <td>配置至少提前7天警告密码将要过期</td>
                    <td>{{scanRes.accountPassWarnDays}}</td>
									<td>{{ck_accountPassWarnDays}}</td>
                  </tr>
                  <tr>
                    <td>配置自动禁用365天内没有活动的的帐号</td>
                    <td>{{scanRes.accountPassAutolockInactiveDays}}</td>
									<td>{{ck_accountPassAutolockInactiveDays}}</td>
                  </tr>
                  <tr>
                    <td>配置使系统账号无法登录</td>
                    <td>{{scanRes.accountShouldUnloginArray}}</td>
									<td>{{ck_accountShouldUnloginArray}}</td>
                  </tr>
                  <tr>
                    <td>确保root账号默认群组的GID为0</td>
                    <td>{{scanRes.accountGIDOfRoot}}</td>
									<td>{{ck_accountGIDOfRoot}}</td>
                  </tr>
                  <tr>
                    <td>配置shell超时关闭会话时间不多于900秒</td>
                    <td>{{scanRes.accountProfileTMOUTArray}}</td>
									<td>{{ck_accountProfileTMOUTArray}}</td>
                  </tr>
                  <tr>
                    <td>配置只有特定用户可以使用“su”命令</td>
                    <td>{{scanRes.accountIfSetUsersCanAccessSuCommand}}</td>
									<td>{{ck_accountIfSetUsersCanAccessSuCommand}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">系统配置检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <th>系统配置规范</th>
                  <th>扫描结果</th>
                  <th>检查结果</th>
                </thead>
                <tbody>
                  <tr>  
                    <td>确保passwd(-),shadow(-),group(-),gshadow(-)的权限为0644(0000)</td>
                    <td>{{scanRes.importantFilePermissionArray}}</td>
									<td>{{ck_importantFilePermissionArray}}</td>
                  </tr>
                  <tr>  
                    <td>确保passwd(-),shadow(-),group(-),gshadow(-)的uid gid为0 0</td>
                    <td>{{scanRes.importantFileUidgidArray}}</td>
									<td>{{ck_importantFileUidgidArray}}</td>
                  </tr>
                  <tr>
                    <td>确保没有密码为空的用户账号</td>
                    <td>{{scanRes.userIfSetPasswdOrArray}}</td>
									<td>{{ck_userIfSetPasswdOrArray}}</td>
                  </tr>
                  <tr>
                    <td>确保只有root账号的UID为0</td>
                    <td>{{scanRes.uid0OnlyRootOrArray}}</td>
									<td>{{ck_uid0OnlyRootOrArray}}</td>
                  </tr>
                  <tr>
                    <td>确保path环境变量中的目录同group用户没有写权限</td>
                    <td>{{scanRes.pathDirPermissionHasGWArray}}</td>
									<td>{{ck_pathDirPermissionHasGWArray}}</td>
                  </tr>
                  <tr>
                    <td>确保path环境变量中的目录other用户没有写权限</td>
                    <td>{{scanRes.pathDirPermissionHasOWArray}}</td>
									<td>{{ck_pathDirPermissionHasOWArray}}</td>
                  </tr>
                  <tr>
                    <td>确保pth环境变量中的目录不包含“.”</td>
                    <td>{{scanRes.pathDirIfNotHasDot}}</td>
									<td>{{ck_pathDirIfNotHasDot}}</td>
                  </tr>
                  <tr>
                    <td>确保path环境变量中都为目录且目录都存在</td>
                    <td>{{scanRes.pathDirDoesNotExistOrNotDirArray}}</td>
									<td>{{ck_pathDirDoesNotExistOrNotDirArray}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">用户、组检查</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped dataTable">
                <thead>
                  <th>用户、组规范</th>
                  <th>扫描结果</th>
                  <th>检查结果</th>
                </thead>
                <tbody>
                  <tr>
                    <td>确保所有用户都有家目录</td>
                    <td>{{scanRes.userArray}}<br>{{scanRes.userHomeDirIfExistArray}}</td>
                  </tr>
                  <tr>
                    <td>确保所有用户家目录的权限不高于0750</td>
                    <td>{{scanRes.userHomeDirPermissionArray}}</td>
									<td>{{ck_userHomeDirPermissionArray}}</td>
                  </tr>
                  <tr>
                    <td>确保所有用户家目录的owner为自身</td>
                    <td>{{scanRes.userIfOwnTheirHomeDirArray}}</td>
									<td>{{ck_userIfOwnTheirHomeDirArray}}</td>
                  </tr>
                  <tr>
                    <td>确保用户及目录中的.文件只有owner可写</td>
                    <td>{{scanRes.userHomeDirIfHasGWorOWFileArray}}</td>
									<td>{{ck_userHomeDirIfHasGWorOWFileArray}}</td>
                  </tr>
                  <tr>
                    <td>确保用户家目录没有.netrc,.rhosts,.forward文件</td>
                    <td>{{scanRes.userHomeDirIfHasOtherFileArray}}</td>
									<td>{{ck_userHomeDirIfHasOtherFileArray}}</td>
                  </tr>
                  <tr>
                    <td>确保/etc/passwd中的组都在/etc/group文件中存在</td>
                    <td>{{scanRes.groupNotExistInetcgroup}}</td>
									<td>{{ck_groupNotExistInetcgroup}}</td>
                  </tr>
                  <tr>
                    <td>确保用户都有唯一的UID</td>
                    <td>{{scanRes.usersIfHasUniqueUIDArray}}</td>
									<td>{{ck_usersIfHasUniqueUIDArray}}</td>
                  </tr>
                  <tr>
                    <td>确保组拥有唯一的GID</td>
                    <td>{{scanRes.groupsIfHasUniqueGIDArray}}</td>
									<td>{{ck_groupsIfHasUniqueGIDArray}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
   </section>
{% endblock %}
{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
$(function () {
        $('#assets_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });

</script>
{% endblock %}